{{define "footer"}}
    <!-- 页脚 -->
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Hertz MVC Framework</h5>
                    <p class="text-white-50">基于CloudWeGo-Hertz构建的高性能Go Web框架</p>
                </div>
                <div class="col-md-6">
                    <h5>链接</h5>
                    <ul class="list-unstyled">
                        <li><a href="/docs" class="text-white text-decoration-none">文档</a></li>
                        <li><a href="https://github.com/zsy619/yyhertz" class="text-white text-decoration-none">GitHub</a></li>
                        <li><a href="/home/about" class="text-white text-decoration-none">关于我们</a></li>
                    </ul>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p class="mb-0">© 2024 元曜. All rights reserved.</p>
            </div>
        </div>
    </footer>
{{end}}